body {
	font-family:'Noto Sans';
  font-size:10pt;
}
a {
	color:#81727D;
}
a.code-preview{
  cursor:pointer;
}
.main article h1 a {
  font-size: 1.2em;
  text-decoration: none;
}
article.archive span.date {
  position:absolute;
  left:65%;
}
article.archive {
  width:100%;
}
div.archive-title {
  white-space: nowrap;
  max-width: 65%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}
.ui-widget-header {
  border: 1px solid #6D6773;
  background: #81727D;
}
pre {
  padding:10px;
  background-color:black;
}
.main article h1 {
  font-size: 1.1em;
}
.main article h1 a {
	color: #6D6773;
}
.header-container, .footer-container, .main aside {
  background: #605C64;
}
nav a {
	background-color:#6D6773;
}
h1.title {
  font-size:1.3em;
}
h1.title a {
	font-size:1.3em;
  color:white;
  text-decoration: none;
}
aside h1 {
  font-size: 1.1em;
  font-weight: 400;
  font-family: "Noto Sans";
  margin: 20px 0px 0px 0px;
}
aside a {

  color: #C2C1A7;
  text-decoration: none;;
}
aside ul {
	  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {

  color: #C2C1A7;
  text-decoration: none;;
}
.header-container {
  border-bottom: 10px solid #898C80;
}

.footer-container, .main aside {
  border-top: 10px solid #898C80;
}
