<header class="header-post" role="banner">
    <div class="content">
        {% if page.date %}
            <time datetime="{{ page.date }}" class="date">{{ page.date | date_to_string }}</time>
        {% endif %}
        <h1 class="post-title" itemprop="name">{{ page.title }}</h1>
        <p itemprop="description" class="subtitle">{{ page.description }}</p>
    </div>

    <div class="icons-home">
        <a aria-label="Send email" href="mailto:{{site.username}}"><svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_username}}"><svg class="icon"><use xlink:href="#icon-linkedin"></use></svg></a>
        <a aria-label="Stack Overflow" target="_blank" href="https://www.stackoverflow.com/{{site.stackoverflow_url}}"><svg class="icon"><use xlink:href="#icon-stackoverflow"></use></svg></a>
        <a aria-label="My Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>
        <a aria-label="My Google Plus" target="_blank" href="https://plus.google.com/+{{site.gplus_username}}/posts"><svg class="icon"><use xlink:href="#icon-google-plus"></use></svg></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/{{site.github_username}}"><svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg></a>
        <a aria-label="Use the RSS to get updated" target="_blank" href="{{ "/feed.xml" | prepend: site.baseurl }}"><svg class="icon icon-rss"><use xlink:href="#icon-rss"></use></svg></a>
    </div>     
     {% include menu-search.html %}
</header>
