#header nav { max-width:inherit;background:transparent;}
#header nav h1 { display:inline; line-height:50px; }
#post {
  max-width:650px;
  margin:auto;
}
#post div.disqus {
  margin-top:150px;
}
div.post {
	margin-bottom:50px;
}
div.post img {
  max-width:650px;
}
h1 {
	font-size:16pt;
	padding-bottom:5px;
}
div.post h1 {
  border-bottom: 1px solid white;
}
div.post h1 small {
	margin-top:5px;
	display:block;
	white-space:nowrap;
	font-size:10pt;
}

div.declarations {
  
}
div.declarations p {
  display:inline-block;
}

div.wrapper {max-width:1024px;
  margin:inherit;}

div.footer {
  float:right;
  width:650px;
  max-width:650px;
}
div.section {
}
div.content {
  float:right;
  width:650px;
  max-width:650px;
}
div.tips-sidebar {
  float:left;
  width:350px;
}
div.declarations {
  float:left;
  width:350px;
}
#header nav li.fork {
  float:right;
}
a.external img {
  margin-left:3px;
}
div.code-preview {
  text-align:right;
}
a {
  cursor:pointer;
}
.ui-dialog-titlebar, 
.ui-widget-header {
  background:none;
  background-color: #fc0;
}

.ui-widget,
.ui-dialog {
  font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #F0E7D5;
  
  background: #252525;
  background-attachment: fixed !important;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2A2A29), color-stop(100%, #1C1C1C));
  background: -webkit-linear-gradient(#2A2A29, #1C1C1C);
  background: -moz-linear-gradient(#2A2A29, #1C1C1C);
  background: -o-linear-gradient(#2A2A29, #1C1C1C);
  background: -ms-linear-gradient(#2A2A29, #1C1C1C);
  background: linear-gradient(#2A2A29, #1C1C1C);
}