.certs
	margin-left:10px;
	margin-right:10px;
	img.authority
		max-width:100px
		max-height:75px
		display:inline
		margin:initial

article
	.pdf
		width:1600
		height:1194px

.pdfobject
	height: 100%
	width: 100%
