size(width = 30, height = 30)
    width width px
    height height px

.icons-home
    text-align center
    a
        display inline-block
        padding rem(15px)
        margin rem(2px)
        border-radius 50%
        background-color: darken(main, 50%)
        border rem(2px) solid sec
        line-height 0
        transition all .5s
        .icon
            fill sec
            size(24,24)
        &:hover
            background sec
            .icon
                fill main
            border-radius: 100%;
            color: #0e1a25;
            fill: #0e1a25;
            transform: scale(1.05)
            transition: background-color .5s, transform .5s ease-out
.down
    position absolute
    bottom 50px
    width 100%
    display block
    text-align center
    .icon
        align(both)
        size(100,100)
        fill sec
        animation pulse 1.3s infinite
