---
layout: minimal
title: "Learning Stuff"
permalink: /ced/index.html
image: '/images/comptia.png'
description: "Just keep swimming..."
---


<main id="scroll" class="certs" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
	{% for post in site.posts %}
	{% if post.category == 'ced' %}


    <ul class="post-list">
            <li><img src="/images/{{post.provider.logo}}" class="authority" /> <a href="{{ site.url }}{{ post.url }}">{{ post.title }}<span class="entry-date">
				<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%B %d, %Y" }}</time></a></li>
    </ul>





    {% endif %}
    {% endfor %}
</main>
